<div class="row">
<div class="col-md-4">
  <div ng-controller="AttachmentUploadController">
     <h4>Upload vehicle images</h4>
     <button ngf-select="uploadFilesForFind($files, $invalidFiles)" multiple
       accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
       Select Files</button>
     <br> <br> File Upload status:
     <ul>
       <li ng-repeat="f in files" style="font: smaller">
         {{f.name}}	{{f.$errorParam}}
         <span class="progress" ng-show="f.progress >= 0">
           <div style="width: {{f.progress" ng-bind="f.progress + '%'"></div>
         </span>
       </li>
       <li ng-repeat="f in errFiles" style="font: smaller">{{f.name}}
         {{f.$error}} {{f.$errorParam}}</li>
     </ul>
     {{errorMsg}}
 </div>
</div>
</div>
<div class="row">
  <div class="col-md-4">
    <form>
    <div class="form-group">
        <label for="finderName">Name :</label>
        <input type="text" id="finderName" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Email :</label>
        <input type="text" id="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="phone">Phone :</label>
        <input type="text" id="phone" class="form-control">
    </div>
      <button type="submit" class="btn btn-primary" ng-click="getTheftStatusByVehicleRegNumber(registrationNumber)">Submit</button>
    </form>
</div>
</div>
</div>
