<div class="row" ng-controller="TheftInformationController">
  <div class="col-md-4">
    <form>
      <div class="form-group">
          <label for="country">Country :</label>
          <select class="form-control">
            <option ng-repeat="country in countryList" value="{{country.country_code}}">{{country.country}}</option>
          </select>
      </div>
      <div class="form-group">
          <label for="type">Vehicle Type :</label>
          <select name="type" class="form-control" ng-model="search.type">
            <option value="TWO_WHEELER">Two Wheeler</option>
            <option value="THREE_WHLEELER">Three Wheeler</option>
            <option value="QUAD">Quad</option>
            <option value="TRUCK">Truck</option>
            <option value="TANK">Tank</option>
            <option value="FOUR_WHEELER">Four Wheeler</option>
          </select>
      </div>
      <div class="form-group">
          <label for="make">Make :</label>
          <input type="text" name="make" class="form-control" ng-model="search.make">
      </div>
      <div class="form-group">
          <label for="model">Model :</label>
          <input type="text" class="form-control" name="model" ng-model="search.model">
      </div>
     <div class="form-group">
          <label for="registrationNumber">Registration Number :</label>
          <input type="text" class="form-control" name="registrationNumber" ng-model="search.registrationNo">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="searchForStolenVehicle(search)">Submit</button>
    </form>
</div>
</div>
