<p>
<span>Name</span> has lost her his car
<span>Registration No</span> on
<span>Date</span> at
<span>Time</span> at
<span>Location</span>
Appreciate if you could report
</p>
<div class="container">

  <div>
    Type <span>Type</span>
  </div>
  <div>
    Make <span>Make</span>
  </div>
  <div>
      Model <span>Model</span>
  </div>
  <div>
    YOM <span>YOM</span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <img src="\attachments\0b45dbe0-e4ec-4e3e-ab80-c5264365683b\car1.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
      </div>
      <div class="col-md-4">
          <img src="\attachments\0b45dbe0-e4ec-4e3e-ab80-c5264365683b\car1.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
      </div>
      <div class="col-md-4">
          <img src="\attachments\0b45dbe0-e4ec-4e3e-ab80-c5264365683b\car1.jpg" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <ng-map center="[40.74, -74.18]"></ng-map>
      </div>
    </div>
  </div>
</div>
