Hi $findInformation.locators_name,

Your find has been rejected by the person who has lost his car.
This is just the start of things to come so don't worry.

Kindly report your find soon and you may stand a chance to win a big reward.

Thank you for using our service.


Regards,
MyLostCar team
