<html ng-app="findMyVehicle">
<head>
<title>Find My Vehicle</title>
<script
	src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script src="scripts/ng-file-upload.min.js"></script>

<script src="scripts/ng-map.js"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
<link href="css/app.css" rel="stylesheet">
	<script type="text/javascript">
			 var app = angular.module("findMyVehicle",['ngAnimate', 'ui.bootstrap','ngMap','ngFileUpload']);

			
		</script>
<script src="scripts/ng/service/loginService.js"></script>
<script src="scripts/ng/controller/mainController.js"></script>
<script src="scripts/ng/controller/registerLostVehicleController.js"></script>
<script src="scripts/ng/controller/settingsController.js"></script>
<script src="scripts/ng/controller/modalController.js"></script>
<script src="scripts/ng/controller/signUpController.js"></script>
<script src="scripts/ng/controller/loginController.js"></script>
<script src="scripts/ng/controller/carController.js"></script>
<script src="scripts/ng/controller/mapController.js"></script>
<script src="scripts/ng/controller/imageController.js"></script>
<script src="scripts/ng/controller/fileUploadController.js"></script>
<script src="scripts/ng/controller/vehicleSearchController.js"></script>
<script src="scripts/ng/controller/eventArgumentsController.js"></script>
<script src="scripts/ng/controller/carouselDemoCtrl.js"></script>
<script src="scripts/ng/init/run.js"></script>
</head>
<body ng-controller="mainController">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"
					ng-click="opentab('views/landingPage.html')">{{homePageLabel}}</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar"
				ng-controller="modalController">
				<ul class="nav navbar-nav">
					<li ng-if="loginStatus()"><a href="#"
						ng-click="opentab('views/registerLostVehicle.html')">Report
							Lost Vehicle</a></li>
					<li ng-if="loginStatus()"><a href="#"
						ng-click="opentab('views/vehicleSearch.html')">Report a find</a></li>
					<li ng-if="loginStatus()"><a href="#"
						ng-click="opentab('views/share.html')">Share</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="loginStatus()"><a href="#"
						ng-click="opentab('views/settings.html')">Settings</a></li>
					<li ng-if="!loginStatus()"><a
						ng-click="open('md','dialog/signup.html','signUpController')"><span
							class="glyphicon glyphicon-log-in">Sign Up</span> </a></li>
					<li ng-if="!loginStatus()"><a
						ng-click="open('md','dialog/login.html','loginController')"><span
							class="glyphicon glyphicon-log-in">Login</span></a></li>
					<li ng-if="loginStatus()"><a ng-click="logout()"><span
							class="glyphicon glyphicon-log-in"></span>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
	    <div ng-http-loader template="views/loader.tpl.html"></div>
		<ng-include src="page"></ng-include>
	</div>

	<!-- footer section is here -->
	<div class="navbar-fixed-bottom footer">
		<p>
			<span>Logo goes here</span> <span><em>Download Our App</em> <a
				href="">Andorid</a> <a href="">Apple</a> <a href="">Windows</a> <font>
					Our company name goes here <label>All rights reserved</<label>
			</font> </span>
		</p>
	</div>
</body>
</html>