<div class="jumbotron">
		<h1>{{landingPageMessage}}</h1>
		<p>{{landingPageJumboTronMessage}}</p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div ng-controller="CarouselController">
				<div style="height: 305px">
					<uib-carousel active="active" interval="myInterval"
						no-wrap="noWrapSlides"> <uib-slide
						ng-repeat="slide in slides track by slide.id" index="slide.id">
					<img ng-src="{{slide.image}}" style="margin: auto;">
					<div class="carousel-caption">
						<h4>Slide {{slide.id}}</h4>
						<p>{{slide.text}}</p>
					</div>
					</uib-slide> </uib-carousel>
				</div>

			</div>
		</div>
		<div class="col-md-6">
			<p><em>To report a loss you should be registered 30 days prior to the
				theft<em></em></p>
			<p><em>We only charge $9/year for each vehicle so register soon</em></p>
			<p><em>Vehicle stolen near by</em></p>
				<div class="map" ng-init="getStolenLocationList()">
					<ng-map id="map" zoom="16" center="current-location"
						geo-fallback-center="4.672585, -74.059525"> <!-- <marker position="19.143322, 72.9949816"> -->
					<marker ng-repeat="location in locationList"
						position="{{location.locationCorindates}}"></marker> </ng-map>
				</div>
			</div>
	</div>