<div ng-controller="registerLostVehicleController">
  <div ng-show = "showLostVehicleRegistrationDiv()">
	<div class="row" >
		<p>List of vehicles you have registered with us</p>
		<p>Only vehicle registered prior to 30 days can be registered with us !!!</p>
		<p>For  instant loss registration contact us @</p>		
	</div>
	<div >
			<span>Registered Vehicles </span>
			<select  ng-model="car" 
				ng-options="car.registrationNo for car in cars | filter : {stolen : 'true'}">				
			</select>
	</div>
	<div class="row" ng-controller="mapController">
		<h4>Where did you lose your car</h4>
		<!--      <ng-map zoom="4" center="-25.363882, 131.044922" on-click="vm.placeMarker()"> -->
		<div class="map">
			<ng-map id="map" zoom="16" center="current-location"
				geo-fallback-center="4.672585, -74.059525" on-click="placeMarker()">
			<!-- <marker position="19.143322, 72.9949816"> --> <marker
				ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}"></marker>

			</ng-map>
		</div>
		<div>
			<a class="btn btn-primary"
				ng-click="saveStolenLocationForCar(positions)">Save stolen
				location</a>
		</div>
	</div>
	</div>
	<div class="row" ng-controller="mapController" ng-show = "!showLostVehicleRegistrationDiv()">
		<h4>You have no vehicle registered with us, kindly register one, navigate to setting page</h4>
		
	</div>

</div>