<div class='container-fluid' ng-controller="vehicleSearchController">
	<div class="row">
		<div class="col-md-6">
			<h4>{{label_vehicleSearch}}</h4>
			<input type="text" ng-model="selectVehicle"
				placeholder="Enter vehicle number "
				uib-typeahead="car as car.registrationNo for car in getLocation($viewValue)"
				typeahead-loading="loadingLocations"
				typeahead-no-results="noResults" class="form-control"> <i
				ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
			<div ng-show="noResults">
				<i class="glyphicon glyphicon-remove"></i> No Results Found
			</div>
			<div class="row"></div>
			<div class="row" ng-if="selectVehicle != null"
				ng-controller="modalController">

				<table class="table table-striped">
					<thead>
						<td>{{label_manufacturer}}</td>
						<td>{{label_model}}</td>
						<td>{{label_color}}</td>
						<td>{{label_registrationNumber}}</td>
						<td>{{label_registrationDate}}</td>
						<td>{{label_stolen}}</td>
						<td>{{label_seeImage}}</td>
						<td>{{label_notifyOwner}}</td>
					</thead>
					<tbody>
						<tr>
							<td>{{selectVehicle.manufacturer}}</td>
							<td>{{selectVehicle.model}}</td>
							<td>{{selectVehicle.color}}</td>
							<td>{{selectVehicle.registrationNo}}</td>
							<td>{{selectVehicle.registrationDate}}</td>
							<td>{{selectVehicle.stolen}}</td>
							<td>
								 <span ng-repeat="image in selectVehicle.images"><a ng-click="open('md','dialog/carImage.html','imageController',image)"><img src="/img/car.jpg"/></a></span>
							</td>
							<td><span ng-repeat="image in selectVehicle.images"><a ng-click="open('md','dialog/notifyUser.html','imageController',image)"><img
										src="/img/submitFind.png" /></a></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6"></div>
		<!-- 	 <div class="map" ng-init="getStolenLocationList()">
		<ng-map id="map" zoom="16" center="current-location"
			geo-fallback-center="4.672585, -74.059525"> <marker position="19.143322, 72.9949816">
			<marker ng-repeat="location in locationList" position="{{location.locationCorindates}}"></marker>
		</ng-map>
	</div> -->
	</div>
</div>