<div class="modal-header">
	<h3 class="modal-title">Register Car</h3>
</div>
<div class="modal-body">

	<div class="form-group" id="inputManufacturerIDFormGroup">
		<label class="control-label" for="manufacturer" ng-bind="manufacturer"></label>
		<input type="text" class="form-control" name="manufacturer" required
			placeholder="Enter your car manu name" ng-model="car.manufacturer">
	</div>
	<div class="form-group" id="inputCarModelFormGroup">
		<label class="control-label" for="inputModel" ng-bind="model"></label>
		<input type="text" required class="form-control" name="inputModel"
			placeholder="Enter your car model" ng-model="car.model">
	</div>
	<div class="form-group" id="inputCarColorFormGroup">
		<label class="control-label" for="inputColor" ng-bind="color"></label>
		<input type="text" required class="form-control" name="inputColor"
			placeholder="Enter your car color" ng-model="car.color">
	</div>
	<div class="form-group" id="inputCarRegistrationNumberFormGroup">
		<label class="control-label" for="inputRegistrationNumber"
			ng-bind="registrationNo"></label> <input type="text" required
			class="form-control" name="inputRegistrationNumber"
			placeholder="Enter your car registration number"
			ng-model="car.registrationNo">
	</div>
	<div class="form-group" id="inputCarStolenFormGroup">
		<label class="control-label" for="inputCarStolenStatus"
			ng-bind="stolen"></label> <input name="inputCarStolenStatus"
			type="checkbox" ng-model="car.stolen">
	</div>
	<div ng-controller="MyCtrl">
					<h4>Upload on file select</h4>
					<button ngf-select="uploadFiles($files, $invalidFiles)" multiple
						accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
						Select Files</button>
					<br> <br> Files:
					<ul>
						<li ng-repeat="f in files" style="font: smaller">{{f.name}}
							{{f.$errorParam}} <span class="progress"
							ng-show="f.progress >= 0">
								<div style="width: {{f.progress" ng-bind="f.progress + '%'"></div>
						</span>
						</li>
						<li ng-repeat="f in errFiles" style="font: smaller">{{f.name}}
							{{f.$error}} {{f.$errorParam}}</li>
					</ul>
					{{errorMsg}}
	</div>
	<div class="form-group">
		<label class="control-label" ng-bind="errorMessageLabel"></label>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="addCar(car)">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>