<div class="modal-header">
	<h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">

	<div class="form-group" id="inputUserIDFormGroup">
		<label class="control-label" for="inputUserID" ng-bind="userId"></label>
		<input type="text" class="form-control" name="inputUserID" required
			placeholder="Enter your user ID" ng-model="user.username">
	</div>
	<div class="form-group" id="inputPasswordFormGroup">
		<label class="control-label" for="inputPassword" ng-bind="password"></label>
		<input type="password" required class="form-control"
			name="inputPassword" placeholder="Enter your password"
			ng-model="user.password">
	</div>
	<div class="form-group">
		<label class="control-label" for="inputPassword" ng-bind="errorMessageLabel"></label>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="login(user)">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>